@value tokens: "../../style/tokens.module.css";
@value spacerSmall, secondaryColor, secondaryColorLight, fontTitle, fontSizeSmall, fontSizeExtraSmall from tokens;

.post__info {
  margin-top: -4rem;
}

header {
  position: relative;
  padding-left: 1rem;
}

header::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 80%;
  background-color: secondaryColor;
  transform: translate(-1rem, .5rem);
}

.post__title {
  composes: title from "../../style/typo.module.css";
}

.post__user {
  composes: subtitle from "../../style/typo.module.css";
  margin-bottom: spacerSmall;
}

.post__description {
  letter-spacing: .05rem;
}