@value tokens: "../../style/tokens.module.css";
@value spacerSmall, secondaryColor, secondaryColorLight, fontTitle, fontSizeSmall, fontSizeExtraSmall from tokens;

.post__info {
  padding: spacerSmall spacerSmall 0;
  margin-top: -4rem;
}

header {
  position: relative;
  padding-left: 1rem;
}

header::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 80%;
  background-color: secondaryColor;
  transform: translate(-1rem, .5rem);
}

.post__title {
  composes: title from "../../style/typo.module.css";
}

.post__user {
  composes: subtitle from "../../style/typo.module.css";
}

.post__description {
  letter-spacing: .05rem;
}

.post__tags {
  composes: small from "../../style/typo.module.css";
  color: secondaryColor;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-.3rem);
  margin: spacerSmall 0 spacerSmall;
}

.tag {
  background-color: secondaryColorLight;
  margin: .25rem;
  border-radius: 5px;
  padding: .25rem .5rem;
}