@import './../../style/_variables.scss';

.post__info {
  padding: $spacerSmall;
  margin-top: -4rem;
}

header {
  position: relative;
  padding-left: 1rem;
}

header::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: $secondaryColor;
  transform: translateX(-1rem);
}

.post__title {
  font-family: $fontTitle;
  font-weight: 400;
  font-size: 1.6rem;
}

.post__user {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  opacity: .6;
  margin-bottom: $spacerSmall;
}

.post__description {
  margin-bottom: $spacerSmall;
  line-height: 1.75;
  letter-spacing: .05rem;
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: .05rem;
  font-size: .75rem;
  text-transform: uppercase;
  color: $secondaryColor;
  transform: translateX(-.3rem);
}

.tag {
  background-color: $secondaryColorLight;
  margin: .25rem;
  border-radius: 5px;
  padding: .25rem .5rem;
}