@value tokens: "../../style/tokens.module.css";
@value primaryColorLight from tokens;

.comment {
  padding-bottom: .3rem;
}

.comment:first-of-type {
  padding-top: 1rem;
}

.comment:first-of-type::before {
  position: absolute;
  content: '';
  width: 82%;
  height: 2px;
  background-color: primaryColorLight;
  transform: translateY(-1rem);
}

.comment__user {
  font-weight: bold;
}