@import './../../style/_variables.scss';

.menu {
    margin: 5rem 5rem 0 0;
}

.menu__item {
    padding-bottom: 1.5rem;
    font-size: $fontsizeBig;
}

.menu__link {
    color: white;
    text-decoration: none;
}