// Colors

$primaryColor: #253246;
$primaryColorLight: #F0F4FB;

$secondaryColor: #FF6974;
$secondaryColorLight: #FBE1E3;


// Typography

$fontTitle: essonnes-display, serif;
$fontBody: montserrat, sans-serif;  
$fontsizeSmall: 0.75rem;
$fontsizeRegular: 0.875rem;
$fontsizeBig: 1.125rem;
$fontsizeExtrabig: 1.6rem;

// Styling

$borderRadius: .75rem;


// Spacer
$spacerSmall: 1.25rem;
$spacerRegular: 1.875rem;