@value tokens: "./tokens.module.css";
@value fontBody, fontSizeExtraSmall, spacerSmall, primaryColorLight, primaryColor from tokens;

.form {
    display: flex;
    padding-bottom: spacerSmall;
}

.input__wrapper {
    width: 100%;
    display: flex;
    background-color: primaryColorLight;
    border-radius: .5rem;
    margin-top: spacerSmall;
}

.input {
    background: none;
    font-family: fontBody;
    font-size: .88rem;
    border: none;
    padding: .5rem 0 .5rem .8rem;
    background-color: primaryColorLight;
    border-radius: .5rem;
    composes: small from "./typo.module.css";
    text-transform: none;
}

.input:focus {
    outline: none;
    border: 1px solid primaryColor;
}

.input::placeholder {
    font-size: fontSizeExtraSmall;
    text-transform: uppercase;
    opacity: .5;
}

.submit {
    height: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

textarea {
    resize: none;
}