@value tokens: "./tokens.module.css";
@value fontBody, spacerSmall from tokens;

.form {
  display: flex;
  padding: 0 spacerSmall spacerSmall;
}

.input {
  background: none;
  font-family: fontBody;
  font-size: .88rem;
  border: none;
  padding: .5rem 0 .5rem .8rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .05rem;
  opacity: .5;
}

.submit {
  height: 100%;
  transform: translate(.4rem, .6rem);
  background-repeat: no-repeat;
}