@value tokens: "../../style/tokens.module.css";
@value borderRadius, spacerRegular from tokens;

.post {
  margin: 0 spacerRegular spacerRegular 0;
  width: 22rem;
  background: white;
  border-radius: borderRadius;
  position: relative;
}

.post::before {
  content: '';
  position: absolute;
  height: 20rem;
  width: 100%;
  background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 50%);
  top: 0;
  left: 0;
}