@value tokens: "style/tokens.module.css";
@value fontSizeRegular, primaryColor, fontBody, smallScreen, mediumScreen, extraSmallScreen from tokens;

.app {
    font-size: fontSizeRegular;
    line-height: 1.5;
    color: primaryColor;
    font-family: fontBody;
    font-weight: 300;
    margin: 3rem;
}

.wrapper {
    display: grid;
    max-width: 90rem;
    grid-template-columns: auto 1fr;
    grid-gap: 5rem;
    margin: 0 auto; 
}

@media screen and (max-width: mediumScreen) {
    .app {
        margin: 0;
    }
}

@media screen and (max-width: smallScreen) {
    .wrapper {
        grid-template-columns: 1fr;
        margin-top: -6rem;
    }

    .content {
        margin: 1rem 1rem 3rem 1rem;
    }
}